version: "3.9"

services:
  books-db:
    image: postgres:15
    container_name: books-db
    environment:
      POSTGRES_DB: books
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./deploy/migrations/books:/docker-entrypoint-initdb.d
      - books_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - bookhub-net

  users-db:
    image: postgres:15
    container_name: users-db
    environment:
      POSTGRES_DB: users
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./deploy/migrations/users:/docker-entrypoint-initdb.d
      - users_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    networks:
      - bookhub-net

  loans-db:
    image: postgres:15
    container_name: loans-db
    environment:
      POSTGRES_DB: loans
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./deploy/migrations/loans:/docker-entrypoint-initdb.d
      - loans_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"
    networks:
      - bookhub-net

  books-service:
    build: ./services/books
    container_name: books-service
    depends_on:
      - books-db
    environment:
      DB_HOST: books-db
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: books
      DB_PORT: 5432
    ports:
      - "8081:8081"
    networks:
      - bookhub-net

  users-service:
    build: ./services/users
    container_name: users-service
    depends_on:
      - users-db
    environment:
      DB_HOST: users-db
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: users
      DB_PORT: 5432
    ports:
      - "8082:8082"
    networks:
      - bookhub-net

  loans-service:
    build: ./services/loans
    container_name: loans-service
    depends_on:
      - loans-db
    environment:
      DB_HOST: loans-db
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: loans
      DB_PORT: 5432
    ports:
      - "8083:8083"
    networks:
      - bookhub-net

networks:
  bookhub-net:

volumes:
  books_data:
  users_data:
  loans_data:
